<ul class="blog-list">
  {{#each model as |blog|}}
    <li role="link" {{action "goToBlog" blog}}>
      <div class="blog-meta">
        <img src={{blog.avatar}} alt={{blog.author}}>
        <div class="blog-header">
          <h2>{{blog.title}}</h2>
          <h3>{{blog.author}} <span>|</span> {{blog.displayDate}}</h3>
        </div>
      </div>
      <p>
        {{line-clamp
          lines=2
          interactive=false
          text=blog.content
        }}
      </p>
    </li>
  {{/each}}
</ul>
